.App {
  text-align: center;
  margin: 100px 320px 100px 320px;
  border: 1px solid #a4a2a2c0;
  font-family: "Lato", sans-serif;
  color: #969595;
}
.daily-temperature {
  font-size: 56px;
  color: black;
}
.daily-description {
  font-size: 22px;
  letter-spacing: 0.7px;
}
.city {
  text-decoration: underline;
  color: black;
}

.numbers {
  font-size: 26px;
}
.daily-temperature,
.max-min-temperature,
.numbers {
  font-family: "Noto Sans HK", sans-serif;
}
.icon {
  font-size: 24px;
}
.form {
  height: 50px;
  position: relative;
  width: 40%;
  overflow: hidden;
  margin: 0 auto;
}
.form input {
  height: 100%;
  width: 100%;
  padding-top: 25px;
  color: #3e3d3d;
  border: none;
  outline: none;
}
.form label {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0px;
  left: 0px;
  border-bottom: 1px solid black;
}

.content-input {
  position: absolute;
  bottom: 5px;
  left: 0px;
  transition: all 0.3s ease;
}

.form input:focus + .label-name .content-input,
.form input:valid + .label-name .content-input {
  transform: translateY(-130%);
  font-size: 12px;
}
.form input:focus + .label-name::after,
.form input:valid + .label-name::after {
  transform: translateX(0%);
}
a {
  text-decoration: none;
  color: #454343;
}
a:hover {
  color: #969595;
}
